body {
  background-color: beige;
}

.pearson {
  width: 20rem;
  padding-bottom: 1em;
  margin-top: 1em;
  padding-left: 9rem;
  float: left;
}

header,
section,
aside,
footer {
  
}
  

header{
  background-color: #2E2F2F;
  height: 7em;
  
}

.header1 {
  font-size: 30px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.5em;
  margin: 1rem;
  
}

.header2 {
  color: cornflowerblue;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.5em;
  margin: 1rem;
}

.mavens {
  float: right;
  width: 30em;
  padding-right: 30em;
}

.paragraph1 {
  text-align: center;
  clear: both;
  font-family: 'Titillium Web', sans-serif;
}

div {
  float: right;
  padding-right: 3em;
  text-align: center;
  color: azure;
  border-radius: 1px;
  max-width: 100px;
  background-color: cornflowerblue;
}

.block1 {
  background-color: azure;
  height: 35em;
  margin-top: -2em;
  
}

.block2 {
  background-color: azure;
  height: 20em;
}

.block3 {
  background-color: aquamarine;
  height: 20em;
}

.block4 {
  background-color: azure;
  height: 20em;
}

.block5 {
  background-color: #2E2F2F;
  height: 25em;
}

.block6 {
  background-color: azure;
  height: 25em;
}

.block7 {
  background-color: dimgrey;
  height: 25em;
}

footer {
  background-color: #2E2F2F;
  height: 10em;
}